*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
}
.container{
    width:100%;
    min-height:100vh;
    background:linear-gradient(
        135deg,
        rgb(1,1,160),
        rgb(111,0,148)
    );

    display:flex;
    justify-content:center;
    align-items:center;
}

.todo-app{

    width:100%;
    max-width:540px;
    background:white;
    padding:40px 30px;
    border-radius:15px;
}

.todo-app h2{
    color:rgb(0,24,83);
    margin-bottom:25px;
}

.row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:rgb(210,214,235);
    border-radius:30px;
    padding-left:20px;
    margin-bottom:25px;
}

input{
    flex:1;
    border:none;
    outline:none;
    background:transparent;
    padding:15px;
    font-size:16px;
}

button{
    border:none;
    outline:none;
    padding:16px 45px;
    background:red;
    color:white;
    font-size:17px;
    cursor:pointer;
    border-radius:40px;
    transition:.3s;
}

button:hover{
    background:rgb(206,0,0);
}

ul li{
    list-style:none;
    font-size:18px;
    padding:15px 45px;
    cursor:pointer;
    position:relative;
    user-select:none;
}

ul li::before{
    content:"";
    position:absolute;
    width:22px;
    height:22px;
    border:2px solid gray;
    border-radius:50%;
    left:10px;
    top:13px;
}

.checked{
    color:gray;
    text-decoration:line-through;
}

.checked::before{
    background:red;
    border:none;
}

.checked::after{
    content:"✔";
    position:absolute;
    left:16px;
    top:13px;
    color:white;
    font-size:13px;
}

span{
    position:absolute;
    right:10px;
    top:7px;
    width:35px;
    height:35px;
    font-size:24px;
    color:gray;
    text-align:center;
    line-height:35px;
    border-radius:50%;
}

span:hover{

    background:#ededed;
}